<section class="parent"  >

<label> Create New Member</label>

<form [formGroup]="form" class="formparent"  (ngSubmit)="ONSUB()">

    <p>
        <mat-form-field appearance="legacy">     
          <input matInput placeholder="cin" formControlName="cin" required>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="legacy">     
          <input matInput placeholder="nom" formControlName="nom">
        </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">     
        <input matInput placeholder="prenom" formControlName="prenom">
      </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">     
      <input matInput placeholder="email" formControlName="email" type="email">
    </mat-form-field>
</p>


    <p>
        <mat-form-field appearance="legacy">     
          <input matInput placeholder="cv" formControlName="cv">
        </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="STUDENT">Student</mat-option>
          <mat-option value="TEACHER">Teacher</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <button mat-raised-button color="primary" type="submit"
    [disabled]="!form.valid"
    >Create</button>

</form>

</section>